@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: whitesmoke;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: tomato;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    text-decoration: none;
    color: tomato;
    font-weight: 600;
    font-size: 1.1em;
    padding-left: 30px;
}

.navigation a:hover {
    color: #0088ff;
}

section {
    padding: 100px 200px;
}

.main {
    padding: 350px 200px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 700;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #0088ff;
    font-size: 3em;
    font-weight: 700;
}

.main h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    color: #fff;
    background-color: #0088ff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover{
    background-color: #11213f;
    transform: scale(1.1);
}

.social-icons a{
    color: #ffffff;
    font-size: 2em;
    padding-right: 20px;
    margin-left: 14px;
    letter-spacing: -15px;
}

.title {
    display: flex;
    justify-content: center;
    color: tomato;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/ 25%);
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: tomato;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: tomato;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background-color: #11213f;
}

.project-content {
    margin-top: 30px;
}

.project-card {
    background-color: #ff6347;
    border: 2px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
}

.project-image img {
    width: 100%;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #fff;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color:#11213f;
}

.more-details:hover {
    color: #0088ff;
}

.contact .icon {
    font-size: 5em;
}

.contact .info h3 {
    color: #11213f;
}

.contact .info p a{
    font-size: 1.1em;
    justify-content: center;
    text-decoration: none;
    color: #ff6347;
}

.footer {
    background-color:#11213f;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

span {
    font-style: italic;
}

.footer-title span {
    color: #ff6347;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 15px 0 0;
}

@media (max-width:1024px) {
    header {
        padding: 10px 20px;
    }
    .navigation a {
        padding-left: 35px;
    }
    .title {
        font-size: 1.8em;
    }
    section {
        padding: 80px 20px;
    }
    .main-content h2 {
        font-size: 1em;
    }
}

@media (max-width:500px) {
    header {
        padding: 5px 50px;
    }
    .navigation a {
        padding-left: 35px;
    }
    .title {
        font-size: 1.8em;
        padding-top: 80px;
    }
    section {
        padding: 25px 20px;
        justify-content: center;
    }
}
@media (max-width:400px) {
    header {
        padding: 10px 20px;
        margin: auto;
    }
    .navigation a {
        padding-left: 90px;
    }
    .title {
        font-size: 2.8em;
        margin-top: 20px;
    }
    section {
        font-size: 0.71em;
        padding: 20px 20px;
        justify-content: center;
    }
    .main h2 {
        margin-top: 110px;
        font-weight: 800;
    }
    .main {
        padding: 150px 30px;
    }
}

@media (max-width:360px) {
    header {
        padding: 5px 30px;
    }
    .navigation a {
        padding-left: 27px;
    }
    .title {
        font-size: 1.8em;
        margin-top: -5px;
    }
    section {
        font-size: 0.9em;
        justify-content: center;
    }
    .main h2 {
        margin-top: 55px;
        font-weight: 800;
    }
    .main {
        padding: 150px 30px;
    }
    .contact .info p a{
        font-size: 1em;
        justify-content: center;
        text-decoration: none;
        color: #ff6347;
    }
}
@media (max-width:280px) {
    header {
        padding: 5px 20px;
    }
    .logo {
        padding-left: -50px;
        font-size: 1.5em;
    }
    .navigation a {
        margin-left: -15px;
        
    }
    .title {
        font-size: 1.8em;
        margin-top: -5px;
    }
    section {
        font-size: 0.71em;
        padding: 20px 20px;
        justify-content: center;
    }
    h2 {
        margin-top: 80px;
    }
    .main-btn {
        font-size: 1.3em;
    }
}